@use 'vars' as *;
@use 'mixin' as *;

.form-element {
  width: 100%;
  text-align: left;
  position: relative;

  label {
    margin-bottom: 4px;
  }

  p {
    margin-top: 4px;
    color: $color-danger;
    font-size: 14px;
  }
}
