@use 'vars' as *;
@use 'mixin' as *;

.cmp-landing-nav {
  width: 100%;
  position: fixed;
  transition: 0.4s;
  z-index: 1;
  &__container {
    padding: 16px 0;
    transition: 0.4s;
    &__right {
      position: relative;
      p,
      &__menu button {
        padding: 4px 16px;
        margin-left: 8px;
        font-size: 20px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        transition: 0.4s;
        cursor: default;
        &:hover {
          color: $color-danger-bg;
          background-color: $color-red;
        }
      }
      a > p {
        cursor: pointer;
      }
      &__menu button {
        cursor: pointer;
        &:focus {
          color: $color-danger-bg;
          background-color: $color-red;
        }
      }
      &__list.dropdown-items {
        @include mobileScreen {
          flex-flow: column;
          padding: 8px 16px;
          white-space: nowrap;
          background-color: $color-white;
          transition: $default-transition;
          min-width: 184px;
          align-items: flex-start;
          font-size: 20px;
          font-weight: 500;
          color: #000;
          p {
            padding: 4px 0;
          }
        }
      }
    }
    &__left {
      transition: 0.4s;
      height: 74px;
      transform: translateY(0) scale(1);
    }
  }
  &__logo {
  }
  &.fixed-nav-bar {
    background-color: #ffffff90;
    .cmp-landing-nav {
      &__container {
        padding: 0;
        &__right {
          p,
          &__menu button {
            color: #000;
            &:hover {
              color: $color-danger-bg;
              background-color: $color-red;
            }
          }
        }
        &__left {
          height: 64px;
          transform: translateY(0) scale(0.7);
        }
      }
      &__logo {
      }
    }
  }
}
