@use 'vars' as *;
@use 'mixin' as *;

.cmp-config-sidebar {
  padding: 0;
  .cmp-config-sidebar {
    &__item {
      padding: 8px 24px;
      margin-bottom: 16px;
      border-radius: 32px;
      width: 95%;
      cursor: pointer;
      transition: 0.2s;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.1em;
      // justify-content: center;
      &:hover {
        background-color: $color-black-50;
        box-shadow: 0px 2px 6px rgba(116, 116, 116, 0.25);
      }
      &.is-active {
        background-color: $color-black-100;
        box-shadow: 0px 2px 6px rgba(116, 116, 116, 0.25);
      }
    }
  }
}
