@use './auth/styles.scss' as *;
@use './my-profile/styles.scss' as *;
@use './configuration/styles.scss' as *;
@use 'vars' as *;
@use 'mixin' as *;

.p-landing {
  .p-landing {
    &__banner {
      position: relative;
      &__image {
        object-fit: cover;
      }
      &__indicator {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 28px;
        z-index: 18;
        justify-content: center;
        &__item {
          width: 20px;
          margin-left: 8px;
          margin-right: 8px;
          height: 20px;
          background-color: rgba(97, 97, 97, 0.4);
          border-radius: 50%;
          transition: 0.2s;
          &:hover {
            background-color: rgba(97, 97, 97);
            cursor: pointer;
          }
        }
        &__item.is-active {
          background-color: rgba(97, 97, 97);
        }
      }
      &__content {
        position: absolute;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__window {
          background-color: #ffffff80;
          max-width: 444px;
          padding: 16px 32px;
          border-radius: 16px;
          backdrop-filter: blur(5px);
          button {
            margin-top: 16px;
            align-self: flex-end;
            width: fit-content;
            font-weight: 600;
          }
        }
      }
    }
  }
}
